$lightColor: white;
$bgColor: #191818 ;
$bgColorLighter: #232323 ;
$bleuTurquoise: #00d1d7;
$rouge: #FF6666;
$jaune: #ffde00;
$vert: #00b387;

$breakpoints: (
  mobile-min: 500px,
  mobile-max: 501px,
  tablet-min: 768px,
  tablet-max: 991.98px,
  desktop-min: 992px,
);