@use "../Styles/mixins";
@use "../Styles/variables";

.carousel {
   position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;


    &:hover .carousel__descr {
        display:block;
    }

    &:hover .carousel__image {
        // box-shadow: 10px 5px 5px rgb(164, 164, 164);
        filter: opacity(10%);
        
    }

    &__image {
        width: 300px;
        margin: auto;
        border-radius: 10px;
        transition : box-shadow 0.3s;
        filter: opacity(100%);
        transition: filter 0.5s;
    }

    &__logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 50px;
    }

    &__descr{
        width: 300px;
        height: 300px;
        display: none;
        z-index: 10;
        padding: 0 70px 0 55px;
        position: absolute;
        top: 0px;
        text-align: center;
        left: 5px;
        background-color: transparent;
        transition: transform 1s  ease-in-out;
        @include mixins.text(17px, 400, white);

        &:hover{
            transform: translate(0, 60px);      
        } 
        
        &__icon{
            margin-top: 20px;
        }
    }

    h3{
        text-align: center;
        @include mixins.text(20px, 400, white);
    }

    @include mixins.mobile {
        &__descr{
            padding: 0 25px 0 1px;
        }
    }

    @include mixins.tablet {
        &__descr{
            padding: 0 25px 0 1px;
            left: 105px;
        }
    }
}


.innerDiv {
    padding: 20px 50px 20px 50px;
    margin: 0 20px 0 20px;   

    @include mixins.mobile {
        padding: 20px 0px 20px 0px;
    }

    @include mixins.tablet {
        padding: 20px 0px 20px 0px;
    }
}



.button {
    border: 0px;
    background-color: transparent;
    cursor: pointer;
}