@use "../Styles/mixins";
@use "../Styles/variables";


.contact{
    padding: 50px 70px 80px 70px;
    background-color: variables.$bgColor;
    display: flex;
    flex-direction: row;
    max-width: 1400px;
    margin: auto;

    &__title{
        width: 100%;
        display: flex;
        flex-direction: column;

        &__head{
            @include mixins.textStyle(40px, 600, white);
            text-transform: uppercase;
            text-align: center;
            padding: 0 0 30px 0;
        }

        &__descr{
            @include mixins.text(20px, 400, #9d9a9a);
            text-align: center;
            padding: 0 0 30px 0;
        }

        &__email{
            display: flex;
            flex-direction: row;
            justify-content: center;
            @include mixins.text(20px, 400, white);
            margin-bottom: 10px;

            span {
                margin-left: 10px;

                a{
                    text-decoration: none;
                    color: variables.$bleuTurquoise;
                }
            }
        }

        &__info{
            @include mixins.text(20px, 400, variables.$rouge);
            padding-top: 20px;
        }
    }

    
    
    @include mixins.mobile{
        padding: 30px 25px 40px 25px;
        display: flex;
        flex-direction: column;

        &__title {
            text-align: center;
            width: 100%;
        }

        



    }

    @include mixins.tablet{
        padding: 30px 20px 40px 20px;
        display: flex;
        flex-direction: column;

        &__title {
            text-align: center;
            width: 100%;
        }

       



    }
}


#outlined-name{
    color: white;
    background-color: variables.$bgColorLighter;
    border-radius: 7px;
    
   
}

#outlined-multiline-static{
    color: white;
    background-color: variables.$bgColorLighter;
    border-radius: 7px;

}

.css-au1fr1-MuiFormLabel-root-MuiInputLabel-root{
    color: white !important;
    font-size: 20px !important;
}

#emailError ,#nameError, #msgError{
    padding-top: 5px;
    @include mixins.text(13px, 400, variables.$rouge);
}