@use "../Styles/mixins";
@use "../Styles/variables";


.allSkills {
    padding: 50px 70px 50px 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: variables.$bgColor;

    @include mixins.mobile {
        padding: 50px 25px 50px 25px;

    }
}